.error-box {
    position: fixed;
    right: 0;
    top: 20px;
   
    z-index: 1000;
    transition:0.3s ease-in-out; /* Smooth transition */
    transform: translateX(100%); /* Initially hidden */
  }
  
  .error-box.show {
    transform: translateX(0); /* Slide in */
  }
  
  .error-message {
    margin-bottom: 10px;
    background-color: red;
    color: white;
    padding: 10px;
  }