
/*general-css*/
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    background: #0000009e;
}
.weather-blk {
    max-width: 70%;
    width: 100%;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    padding: 25px;
    margin: 5% 0;
}
.overlay-div {
    height: auto;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.28) 0%, rgba(255, 255, 255, 0) 100%);
    backdrop-filter: blur(15px);
    border-radius: 15px;
    padding: 20px;
}

p {
    font-size: 16px;
    font-weight: 500;
}

h3{
    font-size: 24px;
    font-weight: bold;
}
/*flex-div*/
.flex-div {
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
}

/*top-part*/
.location-pin p {
    color: #333;
}

.search-blk input {
    width: 100%;
    background: transparent;
    border: 2px solid #0000008c;
    border-radius: 15px;
    padding: 7px;
    padding-right: 45px;
    color: #333;
}

.search-blk input::placeholder {
    color: #333333d9;
}

.search-blk input:focus {
    outline: 0;
}

.search-blk {
    position: relative;
    padding: 5px 0;
}

.search-blk i.fa-solid.fa-magnifying-glass {
    position: absolute;
    top: 4px;
    right: 1px;
    color: #333;
    cursor: pointer;
    width: 39px;
    text-align: center;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}
/*suggestion-bar*/
  .suggestions-list {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    list-style: none;
    padding: 0;
    margin: 5px 0 0 0;
    z-index: 1000;
    max-height: 200px;
    overflow-y: auto; 
    width: 100%; 
  }
  
  .suggestions-list li {
    padding: 10px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .suggestions-list li:hover {
    background-color: #f0f0f0; 
  }
  
/*top-part*/

.middle-part , .bottom-part{
    margin: 0 1%;
    width: 48%;
}

/*middle-part*/
.temperature {
    font-size: 60px;
    font-weight: bold;
    transition: all 0.5s ease;
}
.temp-blk-div {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    border-radius: 15px;
    padding: 20px 20px 25px;
    overflow: hidden;
    position: relative;
}
.temp-blk-div:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 55%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

span.toggle-for-temp {
    position: absolute;
    top: 39%;
    right: 0;
    z-index: 9;
    background: #333;
    padding: 10px 12px;
    color: #fff;
    font-weight: 700;
    border-radius: 15px 0 0 15px;
    transition: .35s ease-in-out;
    transform: translateX(30px);
    cursor: pointer;
}

.temp-blk-div:hover span.toggle-for-temp {
    transform: translateX(0px);
}
.weather-blk.sunny .temp-blk-div:after , .weather-blk.sunny{
    background-image: url(../assets/sunny_final.jpg);
}
.weather-blk.clouds .temp-blk-div:after , .weather-blk.clouds , .weather-blk.haze .temp-blk-div:after , .weather-blk.haze, .weather-blk.mist .temp-blk-div:after , .weather-blk.mist, .weather-blk.drizzle , .weather-blk.drizzle .temp-blk-div:after{
    background-image: url(../assets/cloudy_final.jpg);
}
.weather-blk.rain .temp-blk-div:after , .weather-blk.rain{
    background-image: url(../assets/rain_final.jpg);
}
.weather-blk.snow .temp-blk-div:after , .weather-blk.snow{
    background-image: url(../assets/snow_final.jpg);
}
.wind, .humidity , .future-forecasts {
    padding: 20px 20px 25px;
    border-radius: 15px;
    background: #333333;
    margin: 15px 0 0;
    color: #fff;
    position: relative;
    padding-left: 90px;
    overflow: hidden;
}
.wind-and-humidity i {
    position: absolute;
    top: 14px;
    left: -3px;
    font-size: 70px;
}

/*bottom-part*/
.future-forecasts {
    padding: 15px 20px 20px;
}
.future-main {
    max-height: 400px;
    overflow-y: scroll;
    padding-right: 5px;
}
::-webkit-scrollbar {
    width: 12px;
    background-color: rgba(0, 0, 0, 0.1);
  }
  
::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5); 
    border-radius: 10px;
  }
  
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
.future-forecasts .inner-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.future-forecasts h3.date {
    font-size: 20px;
    font-weight: 500;
}
.future-forecasts img {
    max-width: 35px;
}
.future-forecasts{
    transition: all 0.35s ease-in-out; 
  }
.future-forecasts:hover {
    cursor: pointer;
    border-radius: 0px;
    color: #000;
}
.future-forecasts.rain:hover , .future-forecasts.snow:hover{
    background: linear-gradient(270deg, #1d2b64, #f8cdda, #1d2b64); 
    background-size: 300% 300%; 
    animation: gradientAnimation 10s ease infinite;
  }
.future-forecasts.clear:hover  , .future-forecasts.haze:hover{
    background: linear-gradient(270deg, #ff7e5f, #feb47b, #ff7e5f);
    background-size: 300% 300%; 
    animation: gradientAnimation 10s ease infinite;
}

.future-forecasts.mist:hover, .future-forecasts.clouds:hover , .future-forecasts.drizzle:hover{ 
    background: linear-gradient(270deg, #4a90e2, #b2e0f8, #f8e0b2, #4a90e2);
    background-size: 300% 300%; 
    animation: gradientAnimation 10s ease infinite;
}
@keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
.future-forecasts .details-div {
    opacity: 0;
    max-height: 0;
    transition: all 0.35s ease-in-out; 
    display: flex;
    flex-wrap: wrap;
  }
.future-forecasts:hover .details-div {
    opacity: 1;
    max-height: 200px;
    margin-top: 20px;
}

.future-forecasts p.weather-type-fore {
    width: 48%;
    background: #fff;
    text-align: center;
    padding: 5px;
    margin: 1%;
}

/*media-query*/
@media only screen and (max-width: 1140px) {
.weather-blk {
    max-width: 80%;
}
.temp-blk-div {

    padding-right: 57%;
}
}
@media only screen and (max-width: 940px) {
    .middle-part, .bottom-part {
        margin: 0 1%;
        width: 98%;
    }
    .container {
        height: 100%;
    }
    .bottom-part > h3{
        padding: 30px 0 15px;
    }
  
}
@media only screen and (max-width: 640px) {
    .weather-blk {
        max-width: 90%;
    }
    }
@media only screen and (max-width: 540px) {
    .weather-blk {
        max-width: 100%;
        padding: 25px 10px;
    }
    }
